[submodule "K-Medoids"]
	path = K-Medoids
	url = git@github.com:e-dang/K-Medoids.git
[submodule "ompl"]
	path = ompl
	url = https://github.com/ompl/ompl.git
[submodule "analysis/ompl"]
	path = analysis/ompl
	url = https://github.com/ompl/ompl.git
[submodule "moveit"]
	path = moveit
	url = https://github.com/ros-planning/moveit.git
